footer {
    background-color: #000;
    width: 100%;
    margin-top: auto;

    h3 {
        padding: 15px 30px;
        color: #ffba01;
    }
}

// https://demo.templatetrip.com/Opencart/OPC01/OPC009/OPC01/#